/build
.DS_Store
.env
/.idea
.project
.classpath
/frontend/environments
/frontend/node_modules
/frontend/package-lock.json
/frontend/.angular
/node_modules
/package-lock.json
/frontend/dist
/frontend/docs
/truffle-config.js
/frontend/angular.json
/frontend/.browserslistrc
/frontend/.env
truffle-config.js