/build
.DS_Store
.env
/.idea
.project
.classpath
/frontend/node_modules
/frontend/package-lock.json
/frontend/.angular
/node_modules
/package-lock.json
/frontend/dist
/frontend/docs
/frontend/.env
frontend/src/environments
backend/node_modules
backend/package-lock.json
backend/.env